<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard | Mayopi</title>

    <%- include('./layouts/assets.ejs') %>
  </head>
  <body>
    <section class="main container">
      <h1>Dashboard</h1>

      <a href="/logout">
        <button class="btn btn-danger">
          <div class="g_id_signout">Sign Out</div>
        </button>
      </a>
    </section>
  </body>
</html>
