<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up | Mayopi</title>

    <%- include('./layouts/assets.ejs') %>

    <link rel="stylesheet" href="style/sign.css" />
  </head>
  <body>
    <%- include('./layouts/navbar.ejs') %>

    <section class="main container">
      <h1 class="text-center"><img src="img/profile.png" alt="profile-bot" class="rounded-circle" width="50" /> Log <span>In</span></h1>

      <form action="/login" method="post" class="google-login-form">
        <div
          id="g_id_onload"
          data-client_id="786202553455-40vnfgupq8be0heidbptc55adtjk6bv6.apps.googleusercontent.com"
          data-context="signin"
          data-ux_mode="redirect"
          data-login_uri="https://mysterious-cod-life-jacket.cyclic.app/login"
          data-itp_support="true"
        ></div>

        <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline" data-text="signup_with" data-size="large" data-logo_alignment="left"></div>
      </form>

      <form class="d-flex flex-column gap-3 login-form">
        <hr />

        <!-- <label for="email">Email Address</label> -->
        <input type="email" name="email" id="email" placeholder="Enter your Email" />
        <!-- <label for="password">Password</label> -->
        <input type="password" name="password" id="password" placeholder="Enter your Password" />

        <button type="submit" class="btn signup-btn mt-3">Log In</button>

        <p class="already-have-account opacity-80">Doesn't have an account yet? <a href="/signup">Sign Up</a></p>
      </form>
    </section>

    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="login-error" class="toast text-bg-danger" data-delay="5000" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="img/profile.png" class="rounded me-2" width="50" />
          <strong class="me-auto">Mayopi</strong>
          <small class="time"></small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body"></div>
      </div>
    </div>

    <script>
      const form = document.querySelector(".login-form");

      form.addEventListener("submit", async (event) => {
        event.preventDefault();

        const email = form.email.value;
        const password = form.password.value;

        const res = await fetch("/login", {
          headers: { "Content-Type": "application/json" },
          method: "POST",
          body: JSON.stringify({ email, password }),
        });

        const data = await res.json();

        console.log(data);

        if (data.errors) {
          const notification = document.getElementById("login-error");
          const toast = new bootstrap.Toast(notification);

          const body = notification.querySelector(".toast-body");
          body.innerHTML = data.errors.message;

          const small = notification.querySelector(".time");
          small.innerHTML = data.time.toFixed(2) + " Second ago";
          toast.show();
        }

        if (data.user) {
          location.assign("/dashboard");
        }
      });
    </script>
  </body>
</html>
